<div class="row page-title">
  <h1>Registration page</h1>
</div>
<div class="row">
  <div class="col-md-4">
    <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
      <input class="first-name" type="text" placeholder="Firstname" formControlName="firstName">
      <input class="first-name" type="text" placeholder="Lastname" formControlName="lastName">
      <input class="email" type="email" placeholder="E-mail address" formControlName="email">
      <input class="password" type="password" placeholder="Password" formControlName="password">
      <input class="password" type="password" placeholder="Password Confirmation" formControlName="passwordConfirm">
      <button type="submit" [disabled]="!registerForm.valid">Register</button>
    </form>
  </div>
</div>
<div class="row page-switch-link">
  <a [routerLink]="['../login']">Go to Login</a>
</div>

