:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.row {
  justify-content: center;
  align-items: center;
  text-align: center;

  form {
    border: 1px solid gray;
    border-radius: 6px;
    box-shadow: gray 0 0 10px;
    text-align: center;
    padding: 1rem;

    input {
      width: 100%;
      margin-top: 0.2rem;
      margin-bottom: 0.2rem;
    }

    button {
      margin-top: 0.2rem;
    }
  }

  &.page-switch-link {
    margin-top: 1rem;
  }

  &.page-title {
    margin-bottom: 1rem;
  }
}
