<div class="row page-title">
  <h1>Login page</h1>
</div>
<div class="row">
  <div class="col-md-4">
    <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
      <input class="email" type="email" placeholder="E-mail address" formControlName="email">
      <input class="password" type="password" placeholder="Password" formControlName="password">
      <button type="submit" [disabled]="!loginForm.valid">Submit</button>
    </form>
  </div>
</div>
<div class="row page-switch-link">
  <a [routerLink]="['../registration']">Go to Registration</a>
</div>
