<div class="row page-title">
  <h1>File list</h1>
</div>
<div class="row" *ngIf="fileService.files">
  <div class="col-md-6 files">
    <div class="gallery-sort-buttons">
      <button class="gallery-sort-button" (click)="sortFiles('fileName')">Name</button>
      <button class="gallery-sort-button" (click)="sortFiles('fileSize')">Size</button>
      <button class="gallery-sort-button" (click)="sortFiles('uploadDate')">Date</button>
    </div>
    <app-gallery-item
      *ngFor="let file of fileService.files | FileSortPipe : orderBy : ascending"
      [file]="file"
    ></app-gallery-item>
  </div>
</div>
<div class="row page-switch-link">
  <a [routerLink]="['../file-upload']">Go to File upload</a>
</div>
